@charset "UTF-8";
/*VARIABLES*/
/*Colores*/
/*rgb(86, 86, 84);*/
/*Bordes*/
/*Espaciados*/
/*Márgenes*/
/*Fuentes*/
/*FlexBox y otros*/
/*Titulos*/
/*-----------------Mapas--------------------*/
/*+1 mapa al menos*/ /*@mixin flexible($directionMixin, $justify, $alineacion-texto){
    display: flex;
    flex-direction: $directionMixin;
    justify-content: $justify;
    align-items: $alineacion-texto;
}*/
/*Reseteo de variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*incluir los bordes y el relleno en el alto y ancho*/
  font-family: arial, verdana, sans-serif;
}

.espaciadoTexto {
  line-height: 1.6;
}

.negrita {
  font-weight: bold;
}

.botonWsp {
  text-align: right;
  size: 80%;
}

body {
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

header {
  background: #2C3333;
  color: black;
}

header .navbar {
  background-color: #2C3333;
}

header .navbar .navbar-brand {
  border-radius: 15px;
}

header .navbar-nav .nav-item .nav-link {
  color: white;
}

header .navbar-nav .nav-item .nav-link:hover {
  color: #12f0f8;
  transition: border-bottom 0.1s ease-in-out; /* Añade una transición suave al hover */
  transform: scale(1.1);
  border-radius: 5px;
}

* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}

main {
  /*Estilado Main index*/
  /*Fin estilado main index*/
  /*Estilado página Sobre Nosotros*/
  /*Fin estilado main pag Sobre Nosotros*/
  /*Estilado main pag Productos*/
  /*Fin estilado main pag Productos*/
  /*Estilado MAIN SERVICIOS*/
}

main .columnaParrafosProductos {
  background-color: skyblue;
}

main .columnaImgProductos {
  background-color: red;
}

main .tituloPrincipal {
  Color: black;
  text-align: center;
  font-size: 65px;
  font-family: arial, verdana, sans-serif;
}

main .galeria {
  width: 100%;
}

main .galeria .carousel-item {
  height: 69vh;
}

main .galeria .carousel-item img {
  height: 90%;
  width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
}

main .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /*Mixin*/
}

main .container .vidBajoSlider {
  -o-object-fit: cover;
  object-fit: cover;
  align-items: center;
}

main .container .textoBajoSliderIntroduccion {
  margin: 0 auto;
}

main .h2SobreNosotros {
  padding-top: 3%;
  padding-left: 3%;
}

main .container-fluid .row {
  justify-content: space-around;
  align-items: center; /*vertical*/
}

main .container-fluid .row .parrafoSobreNosotros {
  justify-content: right;
  margin-left: 1rem;
}

main .container-fluid .row .imgSobreNosotros {
  border: 4px solid #0E8388;
  border-radius: 18px;
  height: 300px;
  width: 500px;
  margin-left: 20px;
  margin-top: 20px;
}

main .container-fluid .parrafoVideoIndex {
  justify-content: center;
}

main .containerCardsProductos {
  padding-top: 10px;
  margin-bottom: 50px;
}

main .containerCardsProductos .cardProductos {
  background-image: linear-gradient(#2C3333, transparent);
  align-items: center; /*posicion de la img*/
  height: card-img-top; /*No se si se puede hacer esto pero me funciono jeje*/
  width: card-img-top;
  box-shadow: 5px 5px 8px 3px black;
  padding-top: 10px;
  border: 4px solid #0E8388;
}

main .containerCardsProductos .cardProductos .card-img-top {
  border: 4px solid #0E8388;
  justify-content: center;
  height: 280px;
  width: 200px;
  -o-object-fit: cover;
  object-fit: cover; /*Para que no se deforme*/
  border-radius: 18px;
}

main .containerCardsProductos .cardProductos .card-img-instagram { /*Clase solo para la card de Instagram*/
  justify-content: center;
  height: 280px;
  width: 280px;
  -o-object-fit: cover;
  object-fit: cover; /*Para que no se deforme*/
  border-radius: 18px;
}

main .containerCardsProductos .cardProductos .btn {
  background-color: rgb(18, 140, 126); /*Color btn wsp*/
}

main .containerCardsProductos .cardProductos .btn:hover {
  background-color: #3ab813;
  color: black;
  transition: 0.5s;
}

main .containerCardsProductos .cardProductos .btnIg {
  background-color: #F56040;
}

main .containerCardsProductos .cardProductos .btnIg:hover {
  background: linear-gradient(180deg, #fbde74 0%, #ff9900 100%);
  transition: 0.5s;
}

main .containerCardsProductos .card-body {
  border-radius: 5px;
  width: card-img-top;
  height: 220px;
  text-align: center;
}

main .containerCardsProductos .card-body .card-title {
  font-weight: 700;
}

main .containerCardsProductos .card-body .card-text {
  font-size: 14px;
  overflow: hidden;
  text-align: justify; /*Buscar como ajustar el texto al tamaño del container*/
}

main .imgCura {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 90%;
  height: 90%;
  border-radius: 5px;
}

main .imgCura2 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

footer {
  background: #0E8388;
  color: white;
  justify-content: center;
  align-items: center;
}

footer .container-fluid {
  padding-left: 5%;
}

footer .container-fluid .rjotaFooter {
  padding-bottom: 10px;
  font-size: 30px;
}

footer .container-fluid svg {
  color: white;
}

footer .container-fluid svg:hover {
  color: #2C3333;
  transition: transform 0.2s ease-out;
  transform: scale(1.2);
} 

/*# sourceMappingURL=style.css.map */
