@charset "UTF-8";
/*VARIABLES*/
/*Colores*/
/*rgb(86, 86, 84);*/
/*Bordes*/
/*Espaciados*/
/*Márgenes*/
/*Fuentes*/
/*FlexBox y otros*/
/*Titulos*/
/*-----------------Mapas--------------------*/
/*+1 mapa al menos*/ /*@mixin flexible($directionMixin, $justify, $alineacion-texto){
    display: flex;
    flex-direction: $directionMixin;
    justify-content: $justify;
    align-items: $alineacion-texto;
}*/
/*Reseteo de variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*incluir los bordes y el relleno en el alto y ancho*/
  font-family: arial, verdana, sans-serif;
}

.espaciadoTexto {
  line-height: 1.6;
}

.negrita {
  font-weight: bold;
}

.botonWsp {
  text-align: right;
  size: 80%;
}

body {
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

header {
  background: #2C3333;
  color: black;
}

header .navbar {
  background-color: rgba(95, 158, 160, 0.6039215686);
}

header .navbar a {
  width: 20%;
}

header .navbar .navbar-brand {
  box-shadow: 7px 5px 5px black;
  border-radius: 100px;
  width: 35%;
  height: 35%;
}

@media (max-width: 991px) {
  header .navbar .navbar-brand {
    width: 5rem;
    height: 5.5rem;
  }
}
header .navbar-nav .nav-item .nav-link {
  color: white;
}

header .navbar-nav .nav-item .nav-link:hover {
  color: #12f0f8;
  transition: border-bottom 0.1s ease-in-out; /* Añade una transición suave al hover */
  transform: scale(1.1);
  border-radius: 5px;
}

* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}

main {
  /*Estilado Main index*/
  /*Fin estilado main index*/
  /*Estilado página Sobre Nosotros*/
  /*Fin estilado main pag Sobre Nosotros*/
  /*Estilado main pag Productos*/
  /*Fin estilado main pag Productos*/
  /*Estilado MAIN SERVICIOS*/
}

main a {
  text-decoration: none;
}

main hr {
  border: solid 2px #0E8388;
}

main .columnaParrafosProductos {
  background-color: skyblue;
}

main .tituloPrincipal {
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: Impact;
}

main .h2Servicios { /*este es otro igual al tituloPrincipal pero a éste le aplico Hover*/
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: Impact;
}

main .h2Servicios:hover {
  color: rgba(7, 89, 90, 0.6039215686);
}

main .galeria .carousel-item {
  height: 70vh;
}

main .galeria .carousel-item img {
  height: 90%;
  width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 18px;
  border: 3px solid #2C3333;
}

main .container {
  /*@include flexible(row,space-between,flex-end); /*Mixin*/
}

main .container iframe {
  border-radius: 10px;
}

main .container .textoBajoSliderIntroduccion {
  align-items: right;
}

@media (max-width: 700px) {
  main .container .vidBajoSlider {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 390px) and (max-width: 768px) {
  main .container .vidBajoSlider {
    width: 70vw;
    height: 60vh;
    padding-left: 10%;
  }
  main .container .textoBajoSliderIntroduccion {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  main .container .vidBajoSlider {
    width: 42vh;
    height: 44vh;
  }
}
@media (min-width: 1200px) {
  main .container .vidBajoSlider {
    width: 100%;
    height: 100%;
  }
}
main .h2SobreNosotros {
  padding: 5px;
}

main .h1Productos {
  font-family: Impact;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

main .container-fluid {
  padding: 20px;
  padding-bottom: 4px;
}

main .container-fluid .rowNosotros {
  overflow: hidden;
  border: 3px solid rgba(95, 158, 160, 0.6039215686);
  justify-content: space-around;
  align-items: center; /*vertical*/
}

main .container-fluid .rowNosotros .parrafoSobreNosotros {
  justify-content: right;
  margin-left: 1rem;
}

main .container-fluid .rowNosotros .imgSobreNosotros {
  border: 4px solid #0E8388;
  border-radius: 18px;
  height: 300px;
  width: 500px;
  margin-left: 20px;
  margin-top: 20px;
}

@media (max-width: 1190px) {
  main .container-fluid .rowNosotros .derechaSobreNosotros {
    padding-right: 20%;
    padding-left: 20%;
  }
  main .container-fluid .rowNosotros .imgSobreNosotros {
    height: 10rem;
    width: 15rem;
  }
}
main .containerCardsProductos {
  padding-top: 10px;
  margin-bottom: 50px;
}

main .containerCardsProductos .cardProductos {
  background-image: linear-gradient(#2C3333, transparent);
  align-items: center; /*posicion de la img*/
  height: card-img-top; /*No se si se puede hacer esto pero me funciono jeje*/
  width: card-img-top;
  box-shadow: 5px 5px 8px 3px black;
  padding-top: 10px;
  border: 4px solid #0E8388;
}

main .containerCardsProductos .cardProductos:hover {
  color: rgba(7, 89, 90, 0.6039215686);
}

main .containerCardsProductos .cardProductos .card-img-top {
  border: 4px solid #0E8388;
  justify-content: center;
  height: 280px;
  width: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 18px;
}

main .containerCardsProductos .cardProductos .card-img-instagram { /*Clase solo para la card de Instagram*/
  justify-content: center;
  height: 280px;
  width: 280px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 18px;
}

main .containerCardsProductos .cardProductos .btn {
  background-color: rgb(13, 110, 99); /*Color btn wsp*/
}

main .containerCardsProductos .cardProductos .btn:hover {
  background-color: rgba(7, 89, 90, 0.6039215686);
  color: black;
  transition: 0.25s;
}

main .containerCardsProductos .cardProductos .btnIg {
  background-color: #F56040;
}

main .containerCardsProductos .cardProductos .btnIg:hover {
  background: linear-gradient(180deg, #fbde74 0%, #ff9900 100%);
  transition: 0.5s;
}

main .containerCardsProductos .card-body {
  border-radius: 5px;
  width: card-img-top;
  height: 220px;
  text-align: center;
}

main .containerCardsProductos .card-body .card-title {
  color: black;
  font-weight: 700;
}

main .containerCardsProductos .card-body .card-text {
  font-size: 14px;
  overflow: hidden;
  text-align: justify;
}

main .colServicios {
  overflow: hidden;
}

main .parrafoCura {
  padding-top: 3rem;
}

main .imgCura {
  -o-object-fit: cover;
  object-fit: cover;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  transition: 0.5s;
}

main .imgCura:hover {
  transform: scale(1.25);
}

main .formulario {
  padding: 10px;
  border-radius: 5px;
  border: solid 2px #0E8388;
  text-align: center;
}

main .logoContacto {
  width: 21rem;
  height: 20rem;
  padding: 50px;
}

main .colLogoContacto {
  text-align: center;
}

main .logoWspContacto {
  width: 5rem;
  height: 5rem;
}

main .logoWspContacto:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
main .telContacto {
  font-weight: 700;
  text-align: center;
}

main .telContacto:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
footer {
  background: #0E8388;
  color: white;
  justify-content: center;
  align-items: center;
}

footer .container-fluid {
  padding-left: 5%;
}

footer .container-fluid .rjotaFooter {
  padding-bottom: 10px;
  font-size: 30px;
}

footer .container-fluid svg {
  color: white;
}

footer .container-fluid svg:hover {
  color: #2C3333;
  transition: transform 0.2s ease-out;
  transform: scale(1.2);
}

footer .container-fluid a {
  text-decoration: none;
  color: white;
} 

/*# sourceMappingURL=style.css.map */
