footer{
    background: $color-primario;
    color: $color-blanco;
    .container{
        .rjotaFooter{
            padding-bottom: 10%;
            font-size: map-get($tamañoFuentes, 30);
        }   
        svg{
            color: $color-blanco;
            &:hover{
                color:$color-hover;
                transition: transform 0.2s ease-out;
                transform: scale(1.2);
            }
            .instagram{
                position: absolute;
                left: 10%;
                right: 90%;
                font-size: 40px;
                color: $color-negro;
                justify-content: $justify-evenly;
                &:hover{
                    color: $color-hover;
                    font-size:map-get($tamañoHover,45);
                }
            }
        }
    }   
}

