header{
        background:$color-primario;
        color:$color-negro;
        .navbar{
                a{
                width: 20%;
                }
                background-color: $color-header;
                .navbar-brand{
                        box-shadow: 7px 5px 5px black;
                        border-radius: 100px;
                        width: 35%;
                        height: 35%;
                }
        }
        .navbar-nav .nav-item .nav-link{
                color: $color-blanco;
                &:hover{
                        color: $color-hover;
                        transition: border-bottom 0.1s ease-in-out; /* Añade una transición suave al hover */
                        transform: scale(1.1);
                        border-radius:$border-radius-items;
                }
        }
        
}