*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}
main{
    .columnaParrafosProductos{
        background-color: skyblue;
    }
    /*Estilado Main index*/    
    .tituloPrincipal{
        Color:$color-negro;
        text-align: center;
        font-size:map-get($tamañoFuentes ,65 );
        font-family:$tipografia-general;
    }

    .galeria{
        width: 100%;
        .carousel-item{
            height: 69vh;
        }
        .carousel-item img{
            height: 90%;
            width: 90%;
            object-fit: cover;
        }
    }
    .container{
        @include flexible(row,space-between,flex-end); /*Mixin*/
        .vidBajoSlider{
            object-fit: cover;
            align-items: center;
        }
        .textoBajoSliderIntroduccion{
            margin: 0 auto;
        }      
    }
    /*Fin estilado main index*/

    /*Estilado página Sobre Nosotros*/
    .h2SobreNosotros{
        padding-top: 3%;
        padding-left: 3%;
    }
    .container-fluid{
        .row{
            justify-content: space-around;
            align-items: center;/*vertical*/
            .parrafoSobreNosotros{
                justify-content:$justify-left;
                margin-left: 1rem;
            }
            .imgSobreNosotros{
                border: 4px solid $color-footer;
                border-radius: $border-radius-img;
                height: 300px;
                width: 500px;
                margin-left: 20px;
                margin-top: 20px;   
            }
        }
        .parrafoVideoIndex{
            justify-content: center;
        }
    }
    /*Fin estilado main pag Sobre Nosotros*/
    /*Estilado main pag Productos*/
    
    .containerCardsProductos{
        padding-top: 10px;
        margin-bottom: 50px;
        .cardProductos{
            background-image: linear-gradient($color-primario,transparent);
            align-items: center; /*posicion de la img*/
            height: card-img-top; /*No se si se puede hacer esto pero me funciono jeje*/
            width: card-img-top;
            box-shadow: 5px 5px 8px 3px black;
            padding-top: 10px;
            border: 4px solid $color-footer;
            .card-img-top{
                border: 4px solid $color-footer;
                justify-content: center;
                height: 280px;
                width: 200px;
                object-fit: cover;/*Para que no se deforme*/
                border-radius: $border-radius-img;
            }
            .card-img-instagram{ /*Clase solo para la card de Instagram*/
                justify-content: center;
                height: 280px;
                width: 280px;
                object-fit: cover;/*Para que no se deforme*/
                border-radius: $border-radius-img;
            }
                .btn{
                    background-color: rgb(18 140 126); /*Color btn wsp*/
                    &:hover{
                        background-color: $color-hover-btn;
                        color:black;
                        transition: 0.5s;
                    }        
                }

                .btnIg{
                    background-color:#F56040;
                   &:hover{
                    background: linear-gradient(180deg, #fbde74 0%, #ff9900 100%);
                    transition: 0.5s;
                    }
                }
             }
             .card-body{
                border-radius: $border-radius-items;
                width: card-img-top;
                height: 220px;
                text-align: center;
                .card-title{
                    font-weight: map-get($grosorFuente,bold);
                }
                .card-text{
                    font-size:map-get($tamañoFuentes,14);
                    overflow: hidden;   
                    text-align: justify;                                    /*Buscar como ajustar el texto al tamaño del container*/
                }
        }     
    }
    
    /*Fin estilado main pag Productos*/
    /*Estilado MAIN SERVICIOS*/
        .imgCura{
            display: block;
            object-fit: cover;
            width: 90%;
            height: 90%;
            border-radius: $border-radius-items;
        }
        .imgCura2{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: $border-radius-items;
        }
        
}