*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}
main{
    a{
        text-decoration: none;
    }
    hr{
        border:solid 2px $color-footer;
    }
    .columnaParrafosProductos{
        background-color: skyblue;
    }
    /*Estilado Main index*/    
    .tituloPrincipal{
        color:$color-negro;
        text-align: center;
        font-size:map-get($tamañoFuentes ,45);
        font-family:$tipografia-titulos;
    }
    .h2Servicios{ /*este es otro igual al tituloPrincipal pero a éste le aplico Hover*/
        color:$color-negro;
        text-align: center;
        font-size:map-get($tamañoFuentes ,45);
        font-family:$tipografia-titulos;
        &:hover{
            color:$color-header-darker;
        }
    }

    .galeria{
        .carousel-item{
            height: 70vh;
        }
        .carousel-item img{
            height: 90%;
            width: 90%;
            object-fit: cover;
            border-radius: $border-radius-img;
            border:3px solid $color-primario;
        }
    }
    .container{
       /*@include flexible(row,space-between,flex-end); /*Mixin*/
        iframe{
            border-radius: 10px;
            
        }
        .textoBajoSliderIntroduccion{
            align-items: right;
        }  
        
        @media(max-width:700px){
        .vidBajoSlider{
            height: 100%;
            width: 100%;
        }       
        }   
        @media (min-width:390px) and (max-width:768px){
            .vidBajoSlider{
                width: 70vw;
                height: 48vh;
                padding-left: 10%;
            }
            .textoBajoSliderIntroduccion{
                width: 100%;
            }
        }
    @media(min-width:768px) and (max-width:1200px){
            .vidBajoSlider{
                width:42vh;
                height: 44vh;
                
            }
        }  
        @media (min-width:1200px) {
            .vidBajoSlider{
                width: 100%;
                height: 100%;
            }            
        }  
    }
    /*Fin estilado main index*/

    /*Estilado página Sobre Nosotros*/
    .h2SobreNosotros{
        padding:5px;  
    }
    .h1Productos{
        font-family: $tipografia-titulos;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .container-fluid{
        padding: 20px;
        padding-bottom: 4px;
        .rowNosotros{
            overflow: hidden;
            border: 3px solid $color-header;
            justify-content: space-around;
            align-items: center;/*vertical*/
            .parrafoSobreNosotros{
                justify-content:$justify-left;
                margin-left: 1rem;
            }
            .imgSobreNosotros{
                border: 4px solid $color-footer;
                border-radius: $border-radius-img;
                height: 300px;
                width: 500px;
                margin-left: 20px;
                margin-top: 20px;   
            }
            @media (max-width:1190px) {
                .derechaSobreNosotros{
                    padding-right: 20%;
                    padding-left: 20%;
                }
                .imgSobreNosotros{
                    height: 10rem;
                    width: 15rem;
                }
            }
        }
    }
    /*Fin estilado main pag Sobre Nosotros*/
    /*Estilado main pag Productos*/
    
    .containerCardsProductos{
        padding-top: 10px;
        margin-bottom: 50px;
        .cardProductos{
            background-image: linear-gradient($color-primario,transparent);
            align-items: center; /*posicion de la img*/
            height: card-img-top; /*No se si se puede hacer esto pero me funciono jeje*/
            width: card-img-top;
            box-shadow: 5px 5px 8px 3px black;
            padding-top: 10px;
            border: 4px solid $color-footer;
            &:hover{
                color:$color-header-darker;
            }
            .card-img-top{
                border: 4px solid $color-footer;
                justify-content: center;
                height: 280px;
                width: 200px;
                object-fit: cover;
                border-radius: $border-radius-img;         
            }
            .card-img-instagram{ /*Clase solo para la card de Instagram*/
                justify-content: center;
                height: 280px;
                width: 280px;
                object-fit: cover;
                border-radius: $border-radius-img;
            }
                .btn{
                    background-color: rgb(13, 110, 99); /*Color btn wsp*/
                    &:hover{
                        background-color: $color-header-darker;
                        color:black;
                        transition: 0.25s;
                    }     
                }
                .btnIg{
                    background-color:#F56040;
                &:hover{
                    background: linear-gradient(180deg, #fbde74 0%, #ff9900 100%);
                    transition: 0.5s;
                    }
                }
            }
            .card-body{
                border-radius: $border-radius-items;
                width: card-img-top;
                height: 220px;
                text-align: center;
                .card-title{
                    color:$color-negro;
                    font-weight: map-get($grosorFuente,bold);
                }
                .card-text{
                    font-size:map-get($tamañoFuentes,14);
                    overflow: hidden;   
                    text-align: justify;
                }
                
        }     
    }
    
    /*Fin estilado main pag Productos*/
    /*Estilado MAIN SERVICIOS*/
    .colServicios{
        overflow: hidden;
    }
    .parrafoCura{
        padding-top: 3rem;
        
    }
    .imgCura{
        object-fit: cover;
        width: 90%;
        height: 90%;
        border-radius: $border-radius-items;
        transition: 0.5s;
        &:hover{
            transform:scale(1.25);
        }
    }
    .formulario{
        padding: 10px;
        border-radius: $border-radius-items;
        border:solid 2px $color-footer;
        text-align: center;

    }    
    .logoContacto{
        width: 21rem;
        height: 20rem;
        padding: 50px;
    }
    .colLogoContacto{
        text-align: center;
    }
    .logoWspContacto{
        width: 5rem;
        height: 5rem;
        &:hover{animation: shake 0.5s;
            animation-iteration-count: infinite;
            }
        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-1deg); }
            80% { transform: translate(-1px, -1px) rotate(1deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-1deg); }
        }
    }
    .telContacto{
        font-weight: map-get($grosorFuente,bold);
        text-align: center;
        &:hover{animation: shake 0.5s;
            animation-iteration-count: infinite;
            }
        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-1deg); }
            80% { transform: translate(-1px, -1px) rotate(1deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-1deg); }
        }
    }
}
